{
  "jsc": {
    "parser": {
      "syntax": "typescript", // TypeScript 문법 사용 지정
      "tsx": true // React (JSX) 파일도 처리
    },
    "transform": {
      "react": {
        "runtime": "automatic" // React 17+의 새로운 JSX 런타임 사용
      }
    },
    "target": "es2020", // 변환할 최종 JavaScript 버전 (브라우저 지원에 맞게 조정)
    "keepClassNames": true // 클래스 이름이 난독화되지 않도록 유지
  },
  "module": {
    "type": "es6" // 모듈 시스템 지정 (ES Modules)
  },
  "sourceMaps": true // 타입스크립트 디버깅 도구
}