@import 'tailwindcss';
@import './theme.css';
@import 'tw-animate-css';

@plugin "@tailwindcss/typography";

@layer base {
  body {
    @apply antialiased text-base-white bg-base-black transition-colors duration-300;

    font-family:
      'Pretendard',
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      sans-serif;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/pretendard/PretendardVariable.woff2')
    format('woff2-variations');
}

.toastui-editor-dark,
.toastui-editor-dark .toastui-editor-defaultUI {
  background-color: transparent !important;
}

.toastui-editor-dark .toastui-editor-toolbar {
  background-color: #222222 !important;
}

.toastui-editor-dark .ProseMirror {
  color: #e5e7eb !important;
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.8 !important;
  padding: 20px !important;
}

.toastui-editor-dark .toastui-editor-md-preview {
  border-radius: 0 0 8px 0;
  padding: 20px !important;
}

.toastui-editor-dark .ProseMirror pre {
  background-color: #2e2e2e !important;
  border-radius: 4px;
  padding: 10px;
}
