@theme {
  --color-less-black: #1a1a1a;
  --color-base-gray: #a3a3a3;
  --color-more-gray: #797979;
  --color-hover-black: #222;
  --color-primary-hover: #2b7fff;
  --color-logo-text: #cad5e2;
  --color-base-blue-gray: #62748e;
  --color-base-middle-gray: #cad5e2;
  --color-base-light-gray: #f1f5f9;
  --color-edit-gray: #ffffff;

  --color-base-black: #181818;
  --color-base-white: #c5c5c5;
  --color-surface-container-highest: #353534;
  --color-primary-container: #4d8eff;
  --color-surface-variant: #353534;
  --color-error: #ffb4ab;
  --color-primary: #adc6ff;
  --color-on-surface-variant: #c2c6d6;
  --color-surface-container-lowest: #0e0e0e;
  --color-surface-container: #201f1f;
  --color-outline-variant: #424754;
  --color-surface: #131313;
  --color-outline: #8c909f;
  --color-surface-container-low: #1c1b1b;
  --color-surface-container-high: #2a2a2a;
  --color-on-surface: #e5e2e1;
}

:root:not(.dark) {
  --color-surface: #ffffff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f7f9fc;
  --color-surface-container: #f1f5f9;
  --color-surface-container-high: #e2e8f0;
  --color-surface-container-highest: #cbd5e1;
  --color-surface-variant: #e2e8f0;

  --color-on-surface: #1a1c1e;
  --color-on-surface-variant: #44474e;
  --color-base-white: #1a1c1e;
  --color-base-black: #f8fafc;
  --color-logo-text: #334155;

  --color-base-gray: #64748b;
  --color-more-gray: #475569;
  --color-less-black: #f1f5f9;
  --color-hover-black: #f1f5f9;
  --color-base-blue-gray: #475569;
  --color-base-middle-gray: #94a3b8;
  --color-base-light-gray: #1e293b;

  --color-primary: #0056fb;
  --color-primary-container: #d6e2ff;
  --color-primary-hover: #0046cd;

  --color-outline: #74777f;
  --color-outline-variant: #c4c6d0;
  --color-error: #ba1a1a;
  --color-edit-gray: #475569;
}
